.container {
position: relative;
z-index: 0;
color: var(--hover-white);
}
.overlay, .image, .container {
width: 100%;
height: 100vh;
}
.overlay, .image {
position: absolute;
}
.overlay {
z-index: -1;
background-image: linear-gradient(
to bottom,
var(--black) 0%,
rgba(0, 0, 0, 0.3) 50%,
rgba(0, 0, 0, 0.6) 80%,
var(--black) 100%
);
}
.image {
image-rendering: optimizeQuality;
object-fit: cover;
z-index: -2;
pointer-events: none;
}
.title, .des {
font-family: var(--merienda);
}
.title {
padding-top: 10vh;
margin-bottom: 1rem;
text-align: center;
font-weight: 800;
font-style: italic;
font-size: 1.5rem;
}
.count {
text-align: center;
font-size: 8rem;
font-weight: 700;
color: rgb(140, 8, 8);
}
.current {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
gap: 3rem;
}
.des {
font-size: 0.9rem;
}
.back {
padding: 0.35rem 0.65rem;
border-radius: 0 5px 0 5px;
font-weight: 700;
background-color:rgb(140, 8, 8);
transition: 0.3s color ease, 0.3s background-color ease;
}
@media screen and (max-width: 768px) {
.title {
font-size: 1.3rem;
}
.count {
font-size: 7rem;
}
.des {
font-size: 0.85rem;
}
}
@media screen and (max-width: 576px) {
.title {
font-size: 1.1rem;
}
.count {
font-size: 5.5rem;
}
.des {
font-size: 0.75rem;
}
}
@media (hover: hover) {
.back:hover {
background-color:rgb(94, 0, 0);
color: var(--hover-white);
}
}
@media (hover: none) {
.back:hover {
background-color:rgb(94, 0, 0);
color: var(--hover-white);
}
}